<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">BUSCAR MÚSICAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchMusic()" placeholder="Buscar música"></ion-searchbar>

  <ion-spinner *ngIf="isSearching" name="crescent" color="primary"></ion-spinner>

  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let track of searchResults">
      <ion-thumbnail slot="start">
        <img [src]="track.image || 'https://placehold.co/60x60/333333/ffffff?text=CD'" alt="Capa do Álbum">
      </ion-thumbnail>

      <ion-label>
        <h2>{{ track.name }}</h2>
        <p>{{ track.artist }}</p>
      </ion-label>

      <ion-button slot="end" (click)="openAddModal(track)" [disabled]="track.isSaving">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isAddModalOpen">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Adicionar à Playlist</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="isAddModalOpen = false">Fechar</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item *ngIf="playlists().length > 0">
      <ion-label>Escolha a playlist</ion-label>
      <ion-select [(ngModel)]="selectedPlaylistId">
        <ion-select-option *ngFor="let playlist of playlists()" [value]="playlist._id">
          {{ playlist.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-text color="medium" *ngIf="playlists().length === 0">
      Nenhuma playlist disponível. Crie uma na aba de Playlists (Tab3).
    </ion-text>

    <ion-button
      expand="block"
      color="success"
      (click)="addTrackToPlaylist()"
      [disabled]="!selectedPlaylistId"
    >
      Adicionar música
    </ion-button>
  </ion-content>
</ion-modal>
</ion-content>
