<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">BUSCAR MÚSICAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-searchbar [(ngModel)]="searchTerm"
                 (ionInput)="searchMusic()"
                 placeholder="Buscar música">
  </ion-searchbar>

  <ion-spinner *ngIf="isSearching" name="crescent" color="primary"></ion-spinner>

  <ion-list *ngIf="searchResults.length > 0">
    <ion-item *ngFor="let track of searchResults">
      <ion-thumbnail slot="start">
        <img [src]="track.image || 'https://placehold.co/60x60/333333/ffffff?text=CD'">
      </ion-thumbnail>

      <ion-label>
        <h2>{{ track.name }}</h2>
        <p>{{ track.artist }}</p>
      </ion-label>

      <ion-button slot="end"
                  (click)="openAddModal(track)"
                  [disabled]="track.isSaving">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- MODAL DE SELEÇÃO DE PLAYLIST -->
  <ion-modal [isOpen]="isAddModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar à Playlist</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddModal()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <p><strong>Música:</strong> {{ selectedTrack?.name }}</p>
        <p><strong>Artista:</strong> {{ selectedTrack?.artist }}</p>

        <ion-item>
          <ion-label>Playlist</ion-label>
          <ion-select [(ngModel)]="selectedPlaylistId">
            <ion-select-option *ngFor="let p of playlists" [value]="p._id">
              {{ p.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block"
                    color="success"
                    class="ion-margin-top"
                    [disabled]="!selectedPlaylistId"
                    (click)="openConfirmDialog()">
          Adicionar música
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- ALERTA DE CONFIRMAÇÃO -->
  <ion-alert
    [isOpen]="isConfirmDialogOpen"
    header="Adicionar música"
    message="Deseja adicionar esta música à playlist selecionada?"
    [buttons]="alertButtons">
  </ion-alert>

</ion-content>
