<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">LastFM Charts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5 style="text-align: center;">As 100 músicas mais populares da semana</h5>
  <div *ngIf="!topTracks">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p class="loading-text">Carregando Ranking...</p>
  </div>

  <ion-list *ngIf="topTracks">
    <ion-item *ngFor="let track of topTracks; let i = index">
      
      <div slot="start" class="track-rank">
        {{ i + 1 }}
      </div>

      <ion-thumbnail slot="start" class="album-thumbnail">
        <img [src]="track.image[2]['#text'] || 'https://placehold.co/60x60/333333/ffffff?text=CD'" alt="Capa do Álbum">
      </ion-thumbnail>
      
      <ion-label>
        <h2 class="track-name">{{ track.name }}</h2>
        <p class="artist-name">{{ track.artist.name }}</p>
        <p class="listeners-count">Ouvintes: {{ track.listeners | number: '1.0-0' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>